// =============================================================================
// SaaS - Bundle para o produto SaaS
// Base compilada jรก dentro do contexto rebranding
// =============================================================================

@use "sass:meta";

#app .rebranding { 
  @include meta.load-css("base");
}
